.loaderbtn button {
  background-color: rgb(113, 84, 243);
  font-weight: bold;
  letter-spacing: 2px;
}
.scrollable-container {
  overflow-x: auto;
  white-space: nowrap;
  width: 100%;
  padding: 20px;
}
.card-head {
  display: flex;
  flex-direction: column;
  padding: 0px 18px;
  padding-top: 20px;
}
.card-rooms {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  top: 15px;
  color: rgba(112, 110, 110, 0.753);
  padding-bottom: 12px;
}
.free-btn {
  display: inline-block;
  padding: 13px 22px;
  border-radius: 100px;
  font-size: 15px;
  line-height: normal;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 16%);
  background: #2da3f9;
  color: #fff;
  border: none;
}
.free-btn:hover {
  background: #eaf8ff;
  color: #2da3f9;
}
.learn-btn {
  display: inline-block;
  padding: 13px 22px;
  border-radius: 100px;
  font-size: 15px;
  line-height: normal;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 16%);
  background: #eaf8ff;
  color: #2da3f9;
  border: none;
}
.learn-btn:hover {
  background: #2da3f9;
  color: #fff;
}

.scrollable-content {
  display: flex;
  -webkit-overflow-scrolling: touch;
}
.scrollable-container::-webkit-scrollbar {
  width: 0;
}

/* Optionally, you can style the track and thumb if desired */
.scrollable-container::-webkit-scrollbar-track {
  background: transparent;
}

.scrollable-container::-webkit-scrollbar-thumb {
  background: transparent;
}
