.main {
  width: 100vw;
  min-width: 700px;
  padding: 70px 0px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.main-component {
  min-width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
}
.css-19kvavm-MuiContainer-root {
  padding: 0px !important;
}
.filter-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  border: 1px solid #41b1c7;
  border-radius: 100px;
  width: 1150px;
  padding: 20px 100px;
  color: #2da3f9;
  font-weight: bold;
}
.showall-btn {
  background: #2da3f9;
  color: #fff;
  display: inline-block;
  padding: 13px 32px;
  border-radius: 100px;
  font-size: 15px;
  line-height: normal;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 16%);
  text-decoration: none;
  text-transform: capitalize;
  letter-spacing: 1.2px;
  border: none;
}
.showall-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
