.student-box {
  /* height: 90vh; */
  background-image: linear-gradient(100deg, #41b1c7 26%, #90b233 100%);
}
.speaker-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 80px 0px;
  color: white;
}
.speaker-box p {
  font-weight: 400;
}
.second-st {
  height: 10vh;
  background-color: white;
}
.courses-btn {
  font-family: "Montserrat", Sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);
  fill: #2da3f9;
  color: #2da3f9;
  background-color: #fff;
  border-radius: 100px 100px 100px 100px;
  box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.24);
  padding: 17px 30px 17px 30px;
  border: none;
}
.courses-btn:hover {
  background-color: #2da3f9;
  color: white;
}
.freeClass-btn {
  font-family: "Montserrat", Sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);
  fill: #2da3f9;
  color: white;
  background-color: #2da3f9;
  border-radius: 100px 100px 100px 100px;
  box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.24);
  padding: 17px 30px 17px 30px;
  border: none;
}
.freeClass-btn:hover {
  background-color: white;
  color: #2da3f9;
}
